@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.three-container{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}

.logs-container{
    position: absolute;
    width:500px;
    background:#131313;
    color:#c7c7c7;
    z-index: 1;
    position: fixed;
    right:10px;
    top:10px;
    word-break: break-all;
    overflow-y: hidden;
    font-family: 'Rubik', sans-serif;
    border-radius:5px;
    padding:0px 5px 5px 5px;

}

.logs-container-header{
    cursor:grabbing;
    position: sticky;
    background-color: #161616;
    z-index: 1;
    top:0;
    padding-top:5px;
    padding-bottom:9px;
    padding-left: 5px;
}

.logs-container p{
    font-size: .7rem;
    line-height: 3px;
}

.logs-collapse{
    float: right;
}

.logs-container span{
  
}