.three-container{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}

.logs-container{
    position: absolute;
    width:500px;
    background:#131313;
    color:#c7c7c7;
    z-index: 5;
    position: fixed;
    right:10px;
    top:10px;
    word-break: break-all;
    overflow-y: hidden;
    font-family: 'Rubik', sans-serif;
    border-radius:5px;
    padding:0px 5px 5px 5px;
    font-weight: 100;

}

.logs-container-header{
    cursor: pointer;;
    position: sticky;
    background-color: #161616;
    z-index: 1;
    top:0;
    padding-top:5px;
    padding-bottom:9px;
    padding-left: 5px;
}

.logs-container p{
    font-size: .7rem;
    line-height: 3px;
}

.logs-collapse{
    float: right;
}


.loading{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #000000;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .icon{
    display: flex;
    color:#8ab304;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top: -18px;

}

.loading .icon .dash{
    margin-right:-3px;
    margin-left:-3px;
    animation: rotate 1s infinite linear;

}
.loading p{
    color:#ffffff;
    font-size: 1.2em;
}

.description{
    position: absolute;
    bottom:1%;
    text-align: center;
    font-size: 0.7rem;
    margin:0;
    padding:0;
    line-height: 1px;

}

.description p{
    color: #ffffff;

}

.credits{
    position: absolute;
    bottom:10px;
    right:10px;
    font-size: 0.8rem;
}

.credits a, .creadits a:hover{
    color: #ffffff;
}

.credits a:hover{
    cursor: pointer;

    color: #ffffff;

    text-decoration: underline;
}

.controls{
    z-index: 3;
    color: #ffffff;
    position: relative;
    padding:10px;
}
@keyframes rotate{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(180deg);}
}

@-moz-keyframes rotate{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(180deg);}
}

@-webkit-keyframes rotate{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(180deg);}
}

@media (max-width:1000px){
    .logs-container{
        display: none;
    }
}